.banner {
  height: 80vh;
}

.text-green {
  color: #84bc11;
}

.text-orange {
  color: orangered;
}

.nature {
  width: 90%;
}

.banner-head {
  font-family: "Euclid Circular B";
  font-size: 80px;
  font-weight: 600;
  color: #162328;
}

@media screen and (max-width: 567px) {
  .banner-head {
    font-size: 50px;
  }
}

.products-head {
  font-family: "Euclid Circular B";
  font-size: 25px;
  font-weight: 500;
  color: #162328;
  text-align: center;
}

.products-head2 {
  font-family: "Euclid Circular B";
  font-size: 30px;
  font-weight: 600;
  color: #236a80;
  text-align: center;
}

.learn-more-button-home {
  padding: 5px 50px;
  color: #162328;
  border: 1px solid #162328;
  border-radius: 50px;
  background-color: transparent;
  font-size: 14px;
  font-family: "Euclid Circular B";
  margin-bottom: 25px;
}
.learn-more-button-home:hover {
  background-color: #162328;
  color: #ffffff;
  box-shadow: 0 0 2em #236a805b;

}

.about-home {
  color: #162328;
  font-family: "Euclid Circular B";
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.go-green {
  color: #162328;
  font-family: "Euclid Circular B";
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  font-style: italic;
}

.description{
  width: 500px;
  border-radius: 24px;
}

/* Media query for mobile devices (up to 767px) */
@media (max-width: 767px) {
  .description {
    width: 100%; /* Make the image fill the width of the container */
    border-radius: 0; /* Remove border-radius */
  }
}

/* Media query for tablets (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .description {
    width: 70%; /* Adjust width as needed for tablets */
    border-radius: 12px; /* Adjust border-radius as needed */
  }
}

