.contact-input {
  padding-left: 10px;
  height: 40px;
  border: 1px solid #292929;
  width: 100%;
  margin-bottom: 20px;
}

.contact-input-msg {
  padding-left: 10px;
  height: 80px;
  border: 1px solid #292929;
  width: 100%;
  margin-bottom: 20px;
}

.silver-box {
  background-color: rgb(231, 231, 231);
  padding: 20px;
  border-radius: 20px;
  color: #236a80;
  flex-grow: 1;
  height: 100%;
}

.silver-box-desc {
  color: #236a80;
  font-family: "Euclid Circular B";
  font-size: 25px;
  font-weight: 600;
}

.silver-box-head {
  color: #236a80;
  font-family: "Euclid Circular B";
  font-size: 30px;
  font-weight: 600;
}

.link {
  text-decoration: none;
}


.form-style {
  width: 100%;
  height: 700px;
  border-radius: 20px;
  background-color: rgb(231, 231, 231);
}